<html>
    <head>
        <title>
            List Users
        </title>
    </head>
        <body>
            <script src="cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"></script>
         
        </body>
   
</html>