<html>
    <head>
        <title>
            List Users
            <script src="cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"></script>
        </title>
    </head>
        <body>
            
<table>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>ContactNumber</th>
   
<tr>
    <td>1</td>
    <td>Hetanhi</td>
</tr>
</table>         

            <!-- <script src="cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> -->
            
        </body>
   
</html>