<html>
    <head>
        <title>
            List Users
            <script src="cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"></script>
        </title>
    </head>
        <body>
            
         

            <script src="cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
            <script>
                let table = new DataTable('#myTable');
            </script>
        </body>
   
</html>