<html>
    <head>
        <title>
            List Users
            <script src="cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"></script>
        </title>
    </head>
        <body>
            
            <div class="row">
                <div class="table-responsive col-md-12">
                   <table id="dataTableHistoricoID" class="table table-striped" cellspacing="0" cellpadding="0">
                      <thead>
                         <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                         
                         </tr>
                      </thead>
                      <tbody>
                      <% if(data.length > 0){ %>
               
                         <% for ( var i = 0 ; i < data.length ; i++){ %>
                         <tr>
                            <td>
                               <%= data[i].name%>
                            </td>
                            <td>
                               <%= data[i].email%>
                            </td>
                         </tr>
                         <% } %>
               
                      <% } %>
                    </tbody>
                   </table>
                </div>
               </div>      

            <!-- <script src="cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> -->
            
        </body>
   
</html>